.App {
  text-align: center;
}

img {
  min-height: 50%;
  max-width: 100%;
  vertical-align: middle;
}

#ResultsContainer {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1rem;
}

#ResultsContainer figure {
  position: relative;
  margin: 1rem;
  background-color: #ff6;
  padding: .5rem;
}

figcaption {
  font-size: 1.2rem;
  padding-top: 1rem;
}

input {
  margin: 1rem;
  font-size: 1.5rem;
  width: calc(100% - 4rem);
}